<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/css/multi-select-tag.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link type="text/css" href="/css/reponse.css" rel="stylesheet" />
  <link type="text/css" href="/css/header.css" rel="stylesheet" />
  <div th:replace="fragment/fragment :: myheader"></div>

</head>
<body >
<!--navbar-->
<header th:replace="fragment/fragment :: myheadera"></header>

<!--end of header-->

<!--reponse_code-->


<div class="container-fluid ">
  <div class="row">
    <div class="col-lg-8 ">
      <div class="title-box">
        <h3 style="color:#FFDAB9">the question</h3>
        <div class="titleq">
          <p th:text="${question.titreq}"></p>
          <div class="div2">
<!--            <div style="color:#88C1D0" th:text="${question.user.nom}"></div>-->
            <div style="color:#88C1D0" th:text="${#dates.format(question.createdatQ, 'yyyy-MM-dd HH:mm:ss')}"></div>

          </div>
        </div>
        <div class="text1">
          <p th:text="${question.contenuq}" th:utext="${question.contenuq}"></p>
        </div>

        <div class="answer1">
          <h4 style="color:#FFDAB9">Answers:</h4>
          <ul th:if="${question.reponse.size() > 0}">
            <li th:each="answer, index : ${answers}" class="code_block">
<!--              <p th:text="'Answer ' + ${index + 1} + ' by ' "></p>-->

              <p th:text="${answer.getContenua()}"></p>
            </li>
          </ul>
          <p th:unless="${question.reponse.size() > 0}">No answers yet.</p>
        </div>


<!--answer input-->

<!--        th:classappend="${#strings.contains(#request.getRequestURI(), 'error') ? ' error' : ''}"-->
        <div class="textarea2" >
          <h4 style="color:#FFDAB9">Your Answer:</h4>
          <form th:action="@{/reponse/{questionId}/addanswer(questionId=${question.id})}" method="post" th:object="${reponse}">
            <textarea id="reponse_area" th:field="*{contenua}"></textarea>
            <button type="submit" class="bn632-hover bn26">Save</button>
          </form>
        </div>


        <a th:href="@{/question/questions}"><button class="bn632-hover bn21">Cancel</button></a>
      </div>
    </div>

    <div class="col-lg-4  bg-light">
      <div class="question-box">
        <h3 style="color:#FFDAB9">Recent Questions</h3>
        <div th:each="question, iterStat : ${questions}" th:if="${iterStat.index >= iterStat.size - 6}" class="mini-question">
          <a th:href="@{/question/question/{id}/edit(id=${question.id})}" th:text="${question.titreq}"></a>
        </div>




      </div>
      <br><br><br>
      <div>
        <p>Total Questions: {{ totalQuestions }}</p>
        <p>Total Users: {{ totalUsers }}</p>
        <br><br>
        <p>Our enterprise forum facilitates seamless collaboration, offering a centralized platform for team members to engage in open discussions and share valuable insights. This streamlined communication enhances teamwork and contributes to a more cohesive work environment</p>
        <br>
        <p>Acting as an efficient information hub, the forum enables swift exchange of updates and project details. This accessibility ensures that everyone stays well-informed, fostering a culture of transparency and agility within the organization.</p>
        <br>
        <p>A special thank you to each participant for making this forum a dynamic space. Your active involvement has contributed to creating a vibrant community that encourages innovation and knowledge sharing. Together, we continue to build a valuable resource for our collective success.</p>
      </div>
      </div>
  </div>
</div>

<!--end reponse_code-->

<!--start footer-->
<footer th:fragment="footer">
  <div >
    <div class="footerContainer">
      <div class="socialIcons">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-google-plus"></i></a>
        <a href=""><i class="fa-brands fa-youtube"></i></a>
      </div>
      <div class="footerNav">
        <ul><li><a href="">Home</a></li>
          <li><a href="">News</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">our Team</a></li>
        </ul>
      </div>

    </div>
    <div class="footerBottom">
      <p>Copyright &copy;2023; Designed by <span class="designer">Noman</span></p>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/js/multi-select-tag.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/js/multi-select-tag.js"></script>
</footer>

<!--tiny mce-->

<script src="https://cdn.tiny.cloud/1/3dpef6467cmpi2yqeg6yxn1k9ddwis5flsuv1ygh5ey14mnj/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://cdn.tiny.cloud/1/3dpef6467cmpi2yqeg6yxn1k9ddwis5flsuv1ygh5ey14mnj/tinymce/5/jquery.tinymce.min.js" referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '#reponse_area',
        height: 350,
        menubar: false,
        plugins: [
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help'

  });
  </script>
</body>
</html>
