<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./header,footer/login.css">
</head>
<body>
<div class="container">
    <div class="screen">
        <div class="screen__content">
            <form method="post" class="login" action="/login">


                <h1 class="mb-3 h3 font-weight-normal">Please sign in</h1>

                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" name="email" id="inputEmail" class="form-control login__input" autocomplete="email" required autofocus placeholder="User name / Email">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password" name="password" id="inputPassword" class="form-control login__input" autocomplete="current-password" required placeholder="Password">
                </div>
                <button class="button login__submit" type="submit">
                    <span class="button__text">Log In Now</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
            </form>

            <div class="social-login">
                <h3><a href="sign_up.html">sign up</a></h3>
                <!-- Liens vers les réseaux sociaux -->
            </div>
        </div>

        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>
</body>
</html>
