<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Ask a Question</title>
<!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/css/multi-select-tag.css">-->
<!--  <link rel="stylesheet" th:href="@{/css/STYLEask.CSS}">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->

</head>
<body>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 ">
      <div class="title-box" th:classappend="${#fields.hasErrors('question')} ? 'error' : ''">
        <h1>Ask a Question</h1>
        <form th:action="@{/question/hi}" th:object="${question}" method="post">
          <div class='title1'>
            <label>Title</label>
            <input type="text" th:field="*{titreq}" class="your-custom-class"/>
            <p>Be specific and imagine you’re asking a question to another person.</p>
          </div>
          <div class='textarea1'>
            <label >Your problem:</label>
            <p>The body of your question contains your problem details and results.</p>
            <textarea th:field="*{contenuq}" class="your-custom-class"></textarea>
          </div>
          <div class='tag1'>
<!--            <select th:field="*{tag}" multiple="multiple" id="question_tags">-->
<!--              <option th:each="tag : ${T(com.iset.silkroad2.entities.Tags).values()}"-->
<!--                      th:value="${tag}" th:text="${tag}">-->
<!--              </option>-->
<!--            </select>-->
          </div>
          <button type="submit" class="bn632-hover bn26">Submit</button>
          <a th:href="@{/home}"><button class="bn632-hover bn21">Cancel</button></a>
        </form>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 bg-light">
<!--      <div class="question-box">-->
<!--        <h3>Recent Questions</h3>-->
<!--        <ul>-->
<!--          <li th:each="question1 : ${questions}" th:text="${question1.titreq}">-->
<!--            <a th:href="@{'/qandA/' + ${question1.id}}"></a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
      <br><br><br>
      <div>
        <p>Lors de la rédaction d'un paragraphe, il est crucial de maintenir une structure logique et une fluidité dans l'expression des idées. Assurez-vous d'introduire clairement le sujet au début du paragraphe, de développer vos points de manière cohérente et d'inclure une conclusion qui prépare le terrain pour la suite. Évitez les paragraphes trop longs qui peuvent perdre l'attention du lecteur, tout en veillant à maintenir une connexion fluide entre les phrases. La révision attentive pour l'orthographe, la grammaire et la clarté globale est une étape essentielle pour garantir l'efficacité de votre écriture.</p>
      </div>
    </div>
  </div>
</div>
<!--<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/js/multi-select-tag.js"></script>-->
<!--<script>-->
<!--    new MultiSelectTag('question_tags', {-->
<!--        rounded: true,-->
<!--        shadow: true,-->
<!--        placeholder: 'Search',-->
<!--        tagColor: {-->
<!--            textColor: '#327b2c',-->
<!--            borderColor: '#92e681',-->
<!--            bgColor: '#eaffe6',-->
<!--        },-->
<!--        onChange: function(values) {-->
<!--            console.log(values);-->
<!--        }-->
<!--    });-->
<!--</script>-->
</body>
</html>
