<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragment/fragment :: myheader"></div>

</head>
<body>
<!--header-->
<header th:replace="fragment/fragment :: myheadera"></header>
<!--aside-->

<main class="container mt-5">
    <aside th:replace="fragment/fragment :: leftaside"></aside>



<!--section-->

        <section  >
    <div class="question-list">
        <h1 th:text="'Question'" style="text-align: center;">Question</h1>

        <a th:href="@{/question/ask}" >

        <button class="light" >what is in your mind</button>
        </a>

        <div th:each="question, iterStat : ${questions}" th:if="${iterStat.index < 8}" class="question-block">
            <div class="mini-question">
                <a th:href="@{/reponse/{id}(id=${question.id})}" th:text="${question.titreq}"></a>

            </div>
            <div class="question-details">
                <div class="left-details">
                    <div>


                        <button class="btn btn-success upvote-button" th:data-question-id="${question.id}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                                <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a10 10 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733q.086.18.138.363c.077.27.113.567.113.856s-.036.586-.113.856c-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.2 3.2 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.8 4.8 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                            </svg>
                        </button>
                        <span class="upvote-count" th:data-question-id="${question.id}">
                            <text x="0" y="12" th:text="${question.jaime}"></text>
                        </span>
                        &nbsp;&nbsp;
                        <button class="btn btn-dark downvote-button" th:data-question-id="${question.id}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-down-fill" viewBox="0 0 16 16">
                                <path d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.38 1.38 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51q.205.03.443.051c.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.9 1.9 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2 2 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.2 3.2 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.8 4.8 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591"/>
                            </svg>
                        </button>
                        <span class="downvote-count" th:data-question-id="${question.id}">
                        <text x="0" y="12" th:text="${question.dislike}"></text>
                    </span>
                    </div>
                    <br><br>

                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                        </svg><text x="0" y="12" th:text="${question.nbanswers}"></text>

                        &nbsp;
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-check" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"/>
                        </svg><text x="0" y="12" th:text="${question.nbanswers}"></text>
                    </div>
                </div>
                <div class="right-details">
                    <div th:text="${#dates.format(question.createdatQ, 'yyyy-MM-dd HH:mm:ss')}"></div>
                    <div>
                        <strong>Tags:</strong>
                        <text x="0" y="12" th:text="${question.tag}"></text>
                    </div>


                    <button class="btn btn-danger report-button" th:data-question="${question.id}">
                        Report Question
                    </button>


                </div>
            </div>
        </div>
    </div>
</section>


<!--    aside pour le question recent -->
    <aside>
        <div  class="right-aside">
            <div class="question-box">
                <h3 style="color:#FFDAB9">Recent Questions</h3>
                <div th:each="question, iterStat : ${questions}" th:if="${iterStat.index >= iterStat.size - 6}" class="mini-question">
                    <a th:href="@{/question/question/{id}/edit(id=${question.id})}" th:text="${question.titreq}"></a>
                </div>




            </div>
            <br><br><br>
            <div>
                <p>Total Questions: {{ totalQuestions }}</p>
                <p>Total Users: {{ totalUsers }}</p>
                <br><br>
                <p>Our enterprise forum facilitates seamless collaboration, offering a centralized platform for team members to engage in open discussions and share valuable insights. This streamlined communication enhances teamwork and contributes to a more cohesive work environment</p>
                <br>
                <p>Acting as an efficient information hub, the forum enables swift exchange of updates and project details. This accessibility ensures that everyone stays well-informed, fostering a culture of transparency and agility within the organization.</p>
                <br>
                <p>A special thank you to each participant for making this forum a dynamic space. Your active involvement has contributed to creating a vibrant community that encourages innovation and knowledge sharing. Together, we continue to build a valuable resource for our collective success.</p>
            </div>
        </div>

    </aside>


</main>

<!--footer-->
<footer th:replace="fragment/fragment :: footer"></footer>

<script  >



document.querySelectorAll('.upvote-button').forEach(button => {
    button.addEventListener('click', async () => {
        const questionId = button.getAttribute('data-question-id');

        // Make your API call to update the upvote count
        const response = await fetch(`/question/${questionId}/like`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                increment: true
            })
        });

        if (response.ok) {
            // Update the displayed upvote count
            const data = await response.json();
            document.querySelector(`.upvote-count[data-question-id="${questionId}"]`).textContent = data.jaime;
        }
    });
});
document.querySelectorAll('.downvote-button').forEach(button => {
    button.addEventListener('click', async () => {
        const questionId = button.getAttribute('data-question-id');
            const response = await fetch(`/question/${questionId}/like`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                increment: false
            })
        });
        if (response.ok) {
            const data = await response.json();
            document.querySelector(`.downvote-count[data-question-id="${questionId}"]`).textContent = data.dislike;
        }
    });
});

</script>

<script >
document.querySelectorAll('.report-button').forEach(button => {
    button.addEventListener('click', async () => {
        const questionId = button.getAttribute('data-question');
        const response = await fetch(`/question/signal/${questionId}`, {
            method: 'POST'
        });
        if (response.ok) {
            // Update the UI to reflect that the question has been reported
            alert('Question reported successfully');
        } else {
            alert('Failed to report question');
        }
    });
});

</script>
</body>
</html>