body{

    backgroundcolor: red;
    background: url('../img/1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode:multiply;
    }
@media (max-width:991px) {
.sidebar{
    background-color:gray;
    backdrop-filter:blur(10px);
}
}